<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Settings</title>
    <link rel="stylesheet" th:href="@{/css/account_settings.css}">

</head>
<body>
<h1>Account Settings</h1>
<a th:href="@{/shopping/dashboard}">Home</a>

<h4>Name: <span th:text="${username}"></span></h4>
<p>Email: <span th:text="${email}"></span></p>
<hr class="line"/>
<h4>Address :</h4>
<p>Address 1: <span th:text="${address.address1}"></span></p>
<p>Address 2: <span th:text="${address.address2}"></span></p>
<p>City: <span th:text="${address.city}"></span></p>
<p>Country: <span th:text="${address.country}"></span></p>

<a th:href="@{/shopping/user/modifyAddress}">Modify address</a>

<hr class="line"/>

<div style="margin-top: 35px;" class="form-container">
    <form th:action="@{/shopping/user/updateFirstName}" th:method="POST" th:object="${user}">
        <label for="newFirstName">First Name:</label>
        <input type="text" id="newFirstName" name="newFirstName" th:value="${firstName}"
               required
               pattern=".*\S+.*"/>
        <button type="submit">Change First Name</button>
    </form>

    <form th:action="@{/shopping/user/updateLastName}" th:method="post" th:object="${user}">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="newLastName" th:value="${lastName}"
               required
               pattern=".*\S+.*"/>
        <button type="submit">Change Last Name</button>
    </form>

    <form th:action="@{/account/updateEmail}" method="post">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${email}"/>
        <button type="submit">Change Email</button>
    </form>
</div>
</body>
</html>


