<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

</head>
<body>
<header>
    <nav>
        <ul>
            <li class="left-group">
                <a th:href="@{/shopping/admin/dashboard}">Home</a>
                <a th:href="@{/shopping/products}">Products</a>
                <a th:href="@{/shopping/contact}">Contact</a>
            </li>
            <li class="right-group dropdown">
                <a href="#">Account</a>
                <div class="dropdown-menu">
                    <a th:href="@{/shopping/user/settings}">Settings</a>
                    <a th:href="@{/shopping/user/cart}">Cart</a>
                    <a th:href="@{/shopping/user/address}">Address</a>
                    <a th:href="@{/shopping/user/orders}">Orders</a>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<h1>Dashboard</h1>
<div>
    Welcome, <span th:text="${fullName}"></span>!
</div>
</body>
</html>