<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" th:href="/css/dashboard.css">
</head>
<body>

<header>

    <nav>
        <ul>
            <li><a th:href="@{/shopping/dashboard}">Home</a></li>
            <li><a th:href="@{/shopping/home}">Products</a></li>
            <li><a th:href="@{/shopping/home}">Contact</a></li>
            <li class="ml-auto dropdown">
                <a href="#">Cart</a>
                <div class="dropdown-menu">
                    <a th:href="@{/shopping/user/settings}">View Cart</a>
                </div>
            </li>
            <li class="ml-auto dropdown">
                <a href="#">Account</a>
                <div class="dropdown-menu">
                    <a th:href="@{/shopping/user/settings}">Settings</a>
                    <a th:href="@{/shopping/user/address}">Address</a>
                    <a th:href="@{/shopping/user/orders}">Orders</a>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>

</header>

<h1>Admin Dashboard</h1>
<div>
    Welcome, <span th:text="${fullName}"></span>!
</div>
<hr class="line"/>
<button type="button" th:onclick="|window.location.href='/admin/users'|">Users</button>
<button type="button" th:onclick="|window.location.href='/admin/addProduct'|">Products</button>

</body>
</html>