.product-container {
margin-top:20px;
  border: 2px solid black;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 200px;
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
}

.product-image {
  max-width: 150px;
  max-height: 150px;
}

.product-link {
  display: inline-block;
}

.product-link a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
}

/* Product grid styles */
.product-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Three columns in each row */
  grid-gap: 20px; /* Spacing between products */
  justify-items: center; /* Center the items in each column */
}

.product-card {
  flex-basis: calc(33.33% - 20px); /* Three products per row with spacing */
}

@media screen and (max-width: 768px) {
  /* Adjust the layout for smaller screens */
  .product-card {
    flex-basis: 100%;
  }
}


 header {
            background-color: #f2f2f2;
            padding: 10px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
        }

        nav li {
            margin-right: 10px;
        }

        nav a {
            text-decoration: none;
            padding: 5px 10px;
            color: #333;
        }
        .left-group {
            margin-right: auto;
        }

        .right-group {
            margin-left: auto;
        }

        .ml-auto {
            margin-left: auto;
        }

        .dropdown-menu {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        .dropdown-menu a {
            display: block;
            padding: 5px 10px;
            color: #333;
            text-decoration: none;
        }

        .dropdown-menu a:hover {
            background-color: #333;
            color: #fff;
        }