<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<header>

    <nav>
        <ul>
            <li><a th:href="@{/shopping/home} ">Home</a></li>
            <li><a th:href="@{/shopping/home} ">Products</a></li>
            <li><a th:href="@{/shopping/home} ">Contact</a></li>
            <li style="float: right;"><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>

</header>

<h1>Dashboard</h1>
<div>
    Welcome, <span th:text="${fullName}"></span>!
</div>
</body>
</html>