<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .button-container {
            text-align: center;
            margin-top: 20px;
        }
        .button-container button {
            margin-right: 10px;
        }

    </style>
</head>
<body>

<h2>Result</h2>

<table>
    <tbody>
    <tr>
        <td><strong>ID:</strong></td>
        <td><span th:text="${user.userId}"></span></td>
    </tr>
    <tr>
        <td><strong>First Name:</strong></td>
        <td><span th:text="${user.firstName}"></span></td>

    </tr>
    <tr>
        <td><strong>Last Name:</strong></td>
        <td><span th:text="${user.lastName}"></span></td>

    </tr>
    <tr>
        <td><strong>Email:</strong></td>
        <td><span th:text="${user.email}"></span></td>
    </tr>

    <tr>
        <td colspan="2">
            <div class="button-container">
                <button type="button" onclick="javascript:history.back()" class="btn btn-secondary">Back</button>
                <button type="submit" class="btn btn-success">Continue</button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>