<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <style>
        /* Stiluri CSS pentru formularul de autentificare */

    </style>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post">
    <label>
        Email:
        <input type="email" name="email" required
               oninvalid="this.setCustomValidity('Enter your email')"
               oninput="setCustomValidity('')"/>
    </label>
    <label>
        Password:
        <input type="password" name="password" required
               oninvalid="this.setCustomValidity('Enter your password')"
               oninput="setCustomValidity('')"/>
    </label>
    <input type="submit" value="Login"/>
</form>
</body>
</html>





