<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cart Page</title>
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li class="left-group">
                <a th:href="@{/shopping/dashboard}">Home</a>
                <a th:href="@{/shopping/view/products}">Products</a>
                <a th:href="@{/shopping/contact}">Contact</a>
            </li>
            <li class="right-group dropdown">
                <a href="#">Account</a>
                <div class="dropdown-menu">
                    <a th:href="@{/shopping/user/settings}">Settings</a>
                    <a th:href="@{/shopping/cart}">Cart</a>
                    <a th:href="@{/shopping/user/address}">Address</a>
                    <a th:href="@{/shopping/user/orders}">Orders</a>
                    <a th:href="@{/logout}">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>

<h1>Cart</h1>

<div class="cart-container">
    <div class="product-list">
        <h2>Product List</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Size</th> <!-- Adăugat o nouă coloană pentru afișarea mărimii -->
                <th>quantity</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${cart.cartItems}"> <!-- Iterăm prin cartItems în loc de cart.products -->
                <td th:text="${item.product.name}"></td>
                <td th:text="${item.product.price}"></td>
                <td th:text="${item.size}"></td>
                <td th:text="${item.quantity}"></td>
                <td>
                    <img th:src="@{'/shopping/product/image/' + ${item.product.productId}}" alt="Product Image"
                         style="max-with:80px; max-height:80px;"/>
                </td>
                <td>
                    <form th:action="@{/shopping/admin/removeFromCart/{itemId}(itemId=${item.id})}" method="post">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="total-price">
        <h2>Total Price: <span th:text="${totalPrice}"></span>$</h2>
    </div>
    <form th:action="@{/shopping/preview/order}" method="get">
        <button type="submit">Place Order</button>
    </form>
</div>
</body>

</html>