<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<h1>Login</h1>
<form method="POST" th:action="@{/login}">
    <label>
        <input
                id="username"
                type="text"
                class="form-control"
                placeholder="Email"
                name="username"
                required>
    </label>
    <label>
        <input
                id="password"
                type="password"
                class="form-control"
                placeholder="Password"
                name="password"
                required>
    </label>
    <button type="submit" value="Log in" class="btn btn-primary" id="Login-submit">Login</button>
    <a th:href="@{/register}">Don't have an account? Register here.</a>
</form>
</body>
</html>